[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "*"
pandas = "*"
matplotlib = "*"
bs4 = "*"
selenium = "*"
pillow = "*"
ipykernel = "*"

[scripts]
clearimg = "bash -c \"rm -rf assets/images && mkdir assets/images\""
start = "python src/app.py"

[dev-packages]

[requires]
python_version = "3.9"
